{% extends "base.html" %}
{% load static %}
{% load shyr_tags %}

{% block content %}
<div class="container all-wines">
    <div class="row">
        <div class="col-lg-3 col-md-4">

        {% for key, value in selected %}
            <h4 class="key">{{ key|title }}</h4>
            <a class="close-cross" href="?{% url_remove request key %}"></a>
            <span class="value">{{ value }}</span>
        {% endfor %}

        {% for key, options in choices %}
        {% if options|length_is:"1" %}
            <h4 class="key">{{ key|title }}</h4>
            <a class="black-link value" href="?{{ key }}={{ options.0 }}">{{ options.0 }}</a>
        {% elif options|length_is:"0" %}
            <h4 class="key empty">{{ key|title }}</h4>
        {% else %}
            <h4 class="key">
                <a class="key-collapse collapsed" data-toggle="collapse" href="#{{ key }}-collapse">
                    <div>{{ key|title }}</div>
                    <div class="collapse-notch"></div>
                </a>
            </h4>
            <div class="collapse options" id="{{ key }}-collapse">
            {% for option in options %}
                <a class="black-link" href="?{% url_replace request key option %}">{{ option }}</a>
            {% endfor %}
            </div>
        {% endif %}
        {% endfor %}
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="container">
                <div class="row clearfix pages-row">
                {% if query %}
                    <span class="float-left results">Results for "<span>{{ query }}</span>"</span>
                {% endif %}
                {% if wines|length > 0 %}
                    {% include "pages.html" %}
                {% endif %}
                </div>
                <div class="row all-wines">
                {% for wine in wines %}
                    <a class="col-xl-4 col-lg-6 col-12 list-wine" href="{% url 'view' wine.id %}">
                        <div class="container">
                            <div class="row">
                            {% if wine.count == 0 %}
                                <div class="sold-out">Sold Out</div>
                            {% endif %}

                                <div class="col-2 list-pic">
                                {% if wine.image_exists %}
                                    <img src="{% static 'images/wines/' %}{{ wine.sku }}.jpg" alt="{% static 'images/bottle.svg' %}" />
                                {% else %}
                                    <img src="{% static 'images/bottle.svg' %}" alt="{{ wine.name }}" />
                                {% endif %}
                                </div>

                                <div class="col-10 list-info">
                                    <div class="name">{{ wine.name }}</div>

                                {% if wine.winery %}
                                    <span class="color">Winery</span>
                                    <span>{{ wine.winery }}</span>
                                {% endif %}

                                {% if wine.ratings|length > 0 %}
                                    <div class="ratings">
                                    {% for rater, rating in wine.ratings %}
                                        <span class="color">{{ rater }}</span>
                                        <span>{{ rating }}</span>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                                    <div class="list-price">${{ wine.price }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% empty %}
                    No wines found!
                {% endfor %}
                </div>
                {% if wines|length != 0 %}
                    <div class="hidden-md-up row">
                    {% include "pages.html" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
