{% load static %}
{% load shyr_tags %}

<div id="sort-bar">
    <form>
    {% for key, selected, options, offset in choices %}
    <div class="sort-option-wrapper">
        <div class="sort-option-title">{{ key|title }}</div>
        <div class='select-window sort'>
            <div class='select' style='margin-top: {{ offset }}px;'>
            {% if key != 'sort' %}
                <a href='?' class='option'>Any</a>
            {% endif %}
            {% for option in options %}
                {% if option == selected %}
                <div class='option selected'>{{ option }}</div>
                {% else %}
                <a href='?{% url_replace request key option %}' class='option'>{{ option }}</a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="sort-arrow left"></div>
    </div>
    {% endfor %}
    </form>
</div>

<div id="listed-wines">
    <div id="info-bar">
        {% if query %}
        <div id='search-info'>Results for
            "<div id='search-query'>{{ query }}</div>"
        </div>
        {% endif %}
        <div class='pages'>
            {% if wines.number != 1 %}
            <a class="page-num" href="?{% url_replace request 'page' 1 %}">1</a>
            {% endif %}
            {% if wines.number > 3 %}
            <div class='page-dots'>...</div>
            {% endif %}
            {% if wines.has_previous and wines.previous_page_number != 1 %}
            <a class="page-num" href="?{% url_replace request 'page' wines.previous_page_number %}">{{ wines.previous_page_number }}</a>
            {% endif %}
            <a class="page-num" id="selected">{{ wines.number }}</a>
            {% if wines.has_next and wines.next_page_number != wines.paginator.num_pages %}
            <a class="page-num" href="?{% url_replace request 'page' wines.next_page_number %}">{{ wines.next_page_number }}</a>
            {% endif %}
            {% if wines.number < wines.paginator.num_pages|add:"-2" %}
            <div class='page-dots'>...</div>
            {% endif %}
            {% if wines.number != wines.paginator.num_pages %}
            <a class="page-num" href="?{% url_replace request 'page' wines.paginator.num_pages %}">{{ wines.paginator.num_pages }}</a>
            {% endif %}
        </div>
    </div>
    {% for wine in wines %}
    <a href="{% url 'view' wine.id %}" class="list-wine">
        {% if wine.count == 0 %}
            <div id='all-outofstock'>Sold Out</div>
        {% endif %}
        {% if wine.image_exists %}
        <div class='list-pic-container'>
            <img class="list-pic" src='{% static "images/wines/" %}{{ wine.sku }}.jpg' alt='{% static "images/bottle.svg" %}' />
        </div>
        {% else %}
        <img class="default-pic" src='{% static "images/bottle.svg" %}' alt="{{ wine.name }}" />
        {% endif %}

        <div class="list-info">
            <div class="list-name">{{ wine.name }}</div>

            {% if wine.winery %}
            <div class="list-label">Winery</div>
            <div class="list-winery">{{ wine.winery }}</div>
            {% endif %}

            <div class="list-ratings">
                {% for rater, rating in wine.ratings %}
                <div class='list-rater'>{{ rater }}</div>
                <div class='list-rating'>{{ rating }}</div>
                {% endfor %}
            </div>
            <div class="list-price">${{ wine.price }}</div>
        </div>
    </a>
    {% endfor %}
</div>
