{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google" value="notranslate">
        <link rel="search" type="application/opensearchdescription+xml" title="Shyr Wines" href="{% static 'opensearch.xml' %}">
        <meta name="google-site-verification" content="HNUubO2s2NhukmIDIZmNIprxQcz8jmNu6GvqgYiYygs">

        <link rel="icon" href="{% static 'images/logo-bottle.png' %}">
        <title>{{ page_title }}Shyr Wines</title>

        <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <nav class="navbar">
            <div class="container">
                <div class="row">
                    <a class="col-lg-2 col-md-3 col-sm-4 text-sm-left col-12 text-center" href="{% url 'index' %}">
                        <img height="75px" src="{% static 'images/logo.svg' %}" alt="Shyr Wines Logo" />
                    </a>
                    <form class="col-lg-4 col-md-9 push-lg-6 col-sm-8 col-12" action="{% url 'all-wines' %}">
                        <input class="form-control" type="text" placeholder="Search by wine name, keyword..." value="{{ query|default_if_none:'' }}" name="q" autocomplete="off" id="nav-search">
                        <div class="list-group" id="auto-container"></div>
                    </form>
                    <a class="col-lg-2 pull-lg-4 col-4 text-center" href="{% url 'about' %}">ABOUT</a>
                    <a class="col-lg-2 pull-lg-4 col-4 text-center" href="{% url 'contact-us' %}">CONTACT</a>
                    <a id="nav-cart" class="col-lg-2 pull-lg-4 col-4 text-center" href="{% url 'cart' %}" data-container="body" data-toggle="popover" data-placement="bottom" data-offset="15px 0">CART</a>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock content %}

        <footer>
            <div class="container text-center">
                <span>&copy; 2014 - 2017 Shyr Wines</span>
                <span class="hidden-down">&middot;</span>
                <br class="hidden-sm-up">
                <a class="black-link" href="{% url 'terms-of-service' %}">TERMS OF SERVICE</a>
                <span>&middot;</span>
                <a class="black-link" href="{% url 'privacy-policy' %}">PRIVACY POLICY</a>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="{% static 'jquery.validate.min.js' %}"></script>
        <script src="{% static 'script.js' %}"></script>
    </body>
</html>
