{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <script type="text/javascript" src="{% static 'jquery-3.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'tether.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>

        {% comment %}
        <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
        {% endcomment %}

        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <script type="text/javascript" src="{% static 'script.js' %}"></script>
        <link rel="icon" href="{% static 'images/logo-bottle.png' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google" value="notranslate" />
        <link rel="search" type="application/opensearchdescription+xml" title="Shyr Wines" href="{% static 'opensearch.xml' %}" />
        <meta name="google-site-verification" content="HNUubO2s2NhukmIDIZmNIprxQcz8jmNu6GvqgYiYygs" />
        <title>{{ page_title }}Shyr Wines</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="container">
                <div class="row">
                    <a class="col-lg-2 col-md-3 col-sm-4 col-xs-5" href="{% url 'index' %}">
                        <img height="75px" src="{% static 'images/logo.svg' %}" alt="Shyr Wines Logo" />
                    </a>
                    <form class="col-lg-4 col-md-3 push-md-6 col-sm-8 col-xs-7" action="{% url 'all-wines' %}">
                        <input class="form-control" type="text" placeholder="Search by wine name, keyword..." value="{{ query|default_if_none:'' }}" name="q" autocomplete="off"></input>
                    </form>
                    <a class="col-md-2 pull-md-3 pull-lg-4 col-xs-4 text-xs-center" href="{% url 'about' %}">ABOUT</a>
                    <a class="col-md-2 pull-md-3 pull-lg-4 col-xs-4 text-xs-center" href="{% url 'contact-us' %}">CONTACT</a>
                    <a class="col-md-2 pull-md-3 pull-lg-4 col-xs-4 text-xs-center" href="{% url 'cart' %}">CART</a>
                </div>
            </div>


        {% comment %}
            <form class="search" method="get" action="{% url 'all-wines' %}">
                <input autocomplete="off" name="q" id="nav-search" type="text" placeholder="Search by wine name, keyword..." value='{{ query|default_if_none:"" }}' />
                <div id="mag-circle"></div>
                <div id="mag-handle"></div>
                <div id="auto-container"></div>
            </form>
            <div id="nav-facebook" class="nav-social">
                <a class="title" href="https://www.facebook.com/shyrwines" target="_blank">FACEBOOK PAGE</a>
                <div class="fb-like widget" data-href="https://www.facebook.com/shyrwines" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
            </div>
        {% endcomment %}
        </nav>

        {% comment %}
        <div id="nav-border"></div>
        <div id="dimmer"></div>
        {% endcomment %}

        {% block content %}{% endblock content %}

        <footer>
            <div class="container text-xs-center">
                <span>&copy; 2014 - 2016 Shyr Wines</span>
                <span class="hidden-xs-down">&middot;</span>
                <br class="hidden-sm-up">
                <a href="{% url 'terms-of-service' %}">TERMS OF SERVICE</a>
                <span>&middot;</span>
                <a href="{% url 'privacy-policy' %}">PRIVACY POLICY</a>
            </div>
        </footer>

        {% comment %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
        {% endcomment %}
    </body>
</html>
