{% extends "base.html" %}

{% block content %}
<h1 class="page-title text-xs-center">Cart</h1>

{% if cart %}
<div class="cart-wrapper">
{% include "cart-items.html" %}
</div>
<div class="container">
    <h2>Order Form</h2>
    <form action="javascript:void(0);" novalidate>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="name">Name</label>
                <input id="name" name="name" class="form-control" type="text" required>
            </div>
            <div class="form-group col-md-5">
                <label for="email">Email</label>
                <input id="email" name="email" class="form-control" type="email" required>
            </div>
            <div class="form-group col-md-3">
                <label for="phone">Phone Number</label>
                <input id="phone" name="phone" class="form-control" type="tel" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="address">Street Address</label>
                <input id="address" name="address" class="form-control" type="text" required>
            </div>
            <div class="form-group col-md-3">
                <label for="city">City</label>
                <input id="city" name="city" class="form-control" type="text" required>
            </div>
            <div class="form-group col-md-2">
                <label for="state">State</label>
                <select id="state" name="state" class="form-control" required>
                    <option disabled selected></option>
                    <option>AL</option>
                    <option>AK</option>
                    <option>AZ</option>
                    <option>AR</option>
                    <option id="CA">CA</option>
                    <option>CO</option>
                    <option>CT</option>
                    <option>DE</option>
                    <option>FL</option>
                    <option>GA</option>
                    <option>HI</option>
                    <option>ID</option>
                    <option>IL</option>
                    <option>IN</option>
                    <option>IA</option>
                    <option>KS</option>
                    <option>KY</option>
                    <option>LA</option>
                    <option>ME</option>
                    <option>MD</option>
                    <option>MA</option>
                    <option>MI</option>
                    <option>MN</option>
                    <option>MS</option>
                    <option>MO</option>
                    <option>MT</option>
                    <option>NE</option>
                    <option>NV</option>
                    <option>NH</option>
                    <option>NJ</option>
                    <option>NM</option>
                    <option>NY</option>
                    <option>NC</option>
                    <option>ND</option>
                    <option>OH</option>
                    <option>OK</option>
                    <option>OR</option>
                    <option>PA</option>
                    <option>RI</option>
                    <option>SC</option>
                    <option>SD</option>
                    <option>TN</option>
                    <option>TX</option>
                    <option>UT</option>
                    <option>VT</option>
                    <option>VA</option>
                    <option>WA</option>
                    <option>WV</option>
                    <option>WI</option>
                    <option>WY</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="zipcode">Zip Code</label>
                <input id="zipcode" name="zipcode" class="form-control" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">Include a comment (Optional)</label>
            <textarea id="comment" name="comment" class="form-control"></textarea>
        </div>
        <div class="row">
            <div class="col-md-9 form-check cart">
                <label class="form-check-label">
                <input name="agree" class="form-check-input" type="checkbox" title="Please agree to our terms of service and privacy policy!" required>
                    I confirm that I am at least the age of 21, and have read and agreed to the <a href="{% url 'terms-of-service' %}">Terms of Service</a> and <a href="{% url 'privacy-policy' %}">Privacy Policy</a>.
                </label>
            </div>
            <div class="col-md-3">
                <button id="submit-order" type="submit">Submit Order</button>
            </div>
        </div>
    </form>
</div>

<div id="thanks-container">
    <div>Thanks for your order!</div>
    <div>We will reach out to you shortly.</div>
    <a href="{% url 'index' %}">
        <button>Continue Shopping</button>
    </a>
</div>

{% else %}
<div id="empty-cart">Your cart is empty!</div>
{% endif %}

{% endblock content %}
