{% extends "base.html" %}

{% block content %}
<h1 class="page-title text-xs-center">Cart</h1>

{% if cart %}
<div class="cart-wrapper">
{% include "cart-items.html" %}
</div>
<div class="container">
    <h2>Order Form</h2>
    <form id="order">
        <div class="row">
            <div class="form-group col-md-4">
                <label class="form-control-label" for="name">Name</label>
                <input id="name" name="name" class="form-control" type="text" required>
            </div>
            <div class="form-group col-md-5">
                <label class="form-control-label" for="email">Email</label>
                <input id="email" name="email" class="form-control" type="email" required>
            </div>
            <div class="form-group col-md-3">
                <label class="form-control-label" for="phone">Phone Number</label>
                <input id="phone" name="phone" class="form-control" type="tel" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="form-control-label" for="address">Street Address</label>
                <input id="address" name="address" class="form-control" type="text" required>
            </div>
            <div class="form-group col-md-3">
                <label class="form-control-label" for="city">City</label>
                <input id="city" name="city" class="form-control" type="text" required>
            </div>
            <div class="form-group col-md-2">
                <label class="form-control-label" for="state">State</label>
                <select id="state" name="state" class="form-control" required>
                    <option disabled selected></option>
                    <option>AL</option>
                    <option>AK</option>
                    <option>AZ</option>
                    <option>AR</option>
                    <option id="CA">CA</option>
                    <option>CO</option>
                    <option>CT</option>
                    <option>DE</option>
                    <option>FL</option>
                    <option>GA</option>
                    <option>HI</option>
                    <option>ID</option>
                    <option>IL</option>
                    <option>IN</option>
                    <option>IA</option>
                    <option>KS</option>
                    <option>KY</option>
                    <option>LA</option>
                    <option>ME</option>
                    <option>MD</option>
                    <option>MA</option>
                    <option>MI</option>
                    <option>MN</option>
                    <option>MS</option>
                    <option>MO</option>
                    <option>MT</option>
                    <option>NE</option>
                    <option>NV</option>
                    <option>NH</option>
                    <option>NJ</option>
                    <option>NM</option>
                    <option>NY</option>
                    <option>NC</option>
                    <option>ND</option>
                    <option>OH</option>
                    <option>OK</option>
                    <option>OR</option>
                    <option>PA</option>
                    <option>RI</option>
                    <option>SC</option>
                    <option>SD</option>
                    <option>TN</option>
                    <option>TX</option>
                    <option>UT</option>
                    <option>VT</option>
                    <option>VA</option>
                    <option>WA</option>
                    <option>WV</option>
                    <option>WI</option>
                    <option>WY</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label class="form-control-label" for="zipcode">Zip Code</label>
                <input id="zipcode" name="zipcode" class="form-control" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="comment">Include a comment (Optional)</label>
            <textarea id="comment" name="comment" class="form-control"></textarea>
        </div>
        <div class="row">
            <div class="col-md-9 form-check">
                <label class="form-check-label form-control-label">
                <input name="agree" class="form-check-input" type="checkbox" required>
                    I confirm that I am at least the age of 21, and have read and agreed to the <a href="{% url 'terms-of-service' %}">Terms of Service</a> and <a href="{% url 'privacy-policy' %}">Privacy Policy</a>.
                </label>
            </div>
            <div class="col-md-3">
                <button class="btn" type="submit">Submit Order</button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="thanks-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <h5 class="modal-title">Thanks for your order!</h5>
            <div>We will reach out to you shortly.</div>
            <a href="{% url 'index' %}" class="btn">Continue Shopping</a>
        </div>
    </div>
</div>

{% else %}
<div class="text-xs-center">Your cart is empty!</div>
{% endif %}

{% endblock content %}
