{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="font-light">Browse by Varietal</h1>
    <div class="row">
        {% for panel in varietal_panels %}
        <a id='{{ panel.1 }}' class="col-md-3" href="{% url 'all-wines' %}{{ panel.0 }}">
            <div class="panel-text">{{ panel.1 }}</div>
            <img src="{% static 'images' %}/{{ panel.2 }}" class="img-fluid">
            <div class="panel-dimmer"></div>
        </a>
        {% endfor %}
    </div>

    <h1 class="font-light">Browse by Country</h1>
    <div class="row">
        {% for panel in country_panels %}
        <a id='{{ panel.1 }}' class="col-md-3" href="{% url 'all-wines' %}{{ panel.0 }}">
            <div class="panel-text">{{ panel.1 }}</div>
            <img src="{% static 'images' %}/{{ panel.2 }}" class="img-fluid">
            <div class="panel-dimmer"></div>
        </a>
        {% endfor %}
    </div>

</div>
{% endblock content %}
