{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
{% for category, panels in categories %}
    <h1 class="page-title text-md-left text-xs-center">Popular {{ category }}</h1>
    <div class="row">
    {% for link, text, image in panels %}
        <a class="col-lg-3 col-md-6 panel" href="{% url 'all-wines' %}{{ link }}">
            <div>{{ text }}</div>
            <img src="{% static 'images' %}/{{ image }}" class="img-fluid">
        </a>
    {% endfor %}
    </div>
{% endfor %}

    <h1 class="page-title text-md-left text-xs-center">
        <a class="black-link" href="{% url 'all-wines' %}">Browse all wines...</a>
    </h1>

</div>
{% endblock content %}
