{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-xs-center font-light">{{ wine.name }}</h1>
    <div class="row">
        <div class="col-md-3">
            {% if image_exists %}
            <img class="img-fluid" src="{% static 'images/wines/' %}{{ wine.sku }}.jpg" alt="{{ wine.name }}">
            {% else %}
            <img class="img-fluid" src='{% static "images/bottle.svg" %}' alt='{{ wine.name }}'>
            {% endif %}
            {% if factsheet_exists %}
            <div id="factsheet">
                <a target='_blank' href='{% static "factsheets" %}/{{ wine.sku }}.pdf'>Fact Sheet</a>
                <img src='{% static "images/open.svg" %}'>
            </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div id="view-ratings">
            {% for rater, rating in ratings %}
                <div class='view-rating'>{{ rating }} points</div>
                <div class='view-rater'>{{ rater }}</div><br>
            {% endfor %}
            </div>

            {% if wine.description %}
            <h5>Winemaker's Notes</h5>
            <div>{{ wine.description }}</div>
            {% endif %}

            <table>
            <tbody>
                <tr>
                    <td>Country</td>
                    <td class="text-xs-right"><a href="{% url 'all-wines' %}?country={{ wine.country }}">{{ wine.country }}</a></td>
                </tr>
                {% if wine.region %}
                <tr>
                    <td>Region</td>
                    <td class="text-xs-right"><a href="{% url 'all-wines' %}?region={{ wine.region }}">{{ wine.region }}</a></td>
                </tr>
                {% endif %}

                {% if wine.appellation %}
                <tr>
                    <td>Appellation</td>
                    <td class="text-xs-right"><a href="{% url 'all-wines' %}?appellation={{ wine.appellation }}">{{ wine.appellation }}</a></td>
                </tr>
                {% endif %}

                {% if wine.winery %}
                <tr>
                    <td>Winery</td>
                    <td class="text-xs-right">{{ wine.winery }}</td>
                </tr>
                {% endif %}

                <tr>
                    <td>Varietal</td>
                    <td class="text-xs-right"><a href="{% url 'all-wines' %}?varietal={{ wine.varietal }}">{{ wine.varietal }}</a></td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td class="text-xs-right">{{ wine.wine_type }}</td>
                </tr>

            </tbody>
            </table>

        </div>
        <div class="col-md-3">
            <div>${{ wine.price }}</div>
            {% if wine.count == 0 %}
                <div>Sold Out</div>
            {% endif %}
            <div>
                <form class="add">
                    {% csrf_token %}
                    <input type="hidden" name="name" value="{{ wine.name }}">
                    <input type="hidden" name="id" value="{{ wine.id }}">
                    <div id="view-quantity-label">Quantity:</div>
                    <input pattern="\d*" onkeypress='return event.charCode >= 48 && event.charCode <= 57' id='view-quantity' value='1' type="text" name="quantity">
                    <button type="submit" class="view-add">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
