$price-color: rgb(6,142,6);
$primary-color: rgb(142,6,6);
$primary-color-light: rgba(142,6,6,0.2);

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    src: local('Roboto Thin'),
        local('Roboto-Thin'),
        url('Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: local('Roboto Light'),
        local('Roboto-Light'),
        url('Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto Regular'),
        local('Roboto-Regular'),
        url('Roboto-Regular.ttf') format('truetype');
}

/* SITE WIDE */
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 100px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input.form-control, select.form-control, textarea.form-control {
    border: 1px solid $primary-color-light;
    border-radius: 0;
    transition: 0.2s;
    &:hover, &:focus {
        border: 1px solid $primary-color;
    }
}
h1, h2, h3, h4, h5 {
    font-weight: 300;
}
a:focus {
    outline: 0;
}
a.black-link, a.black-link:hover {
    color: black;
}
.btn {
    background-color: white;
    border: 1px solid $primary-color;
    border-radius: 0;
    color: black;
    font-weight: 300;
    outline: none;
    transition: 0.2s;
    &:hover {
        background-color: $primary-color;
        color: white;
    }
    &:focus {
        outline: 0;
    }
}
.color {
    color: $primary-color;
}
.modal-content {
    border-radius: 0;
}
.modal-footer {
    border-top: 1px solid $primary-color-light;
}
.page-title {
    margin-bottom: 15px;
    margin-top: 20px;
}

/* NAVIGATION BAR */
nav.navbar {
    $height: 75px;

    border-bottom: 1px solid $primary-color;
    border-radius: 0;
    padding: 1rem;
    .row > a:not(:first-child) {
        color: black;
        font-size: 18px;
        height: $height;
        line-height: $height;
        &:hover {
            color: $primary-color;
            font-weight: 400;
            text-decoration: none;
        }
    }
    form {
        height: $height;
        @media (max-width: 575px) {
            height: initial;
        }
        > input {
            height: 40px;
            margin-top: ($height - 40px) / 2;
        }
        > #auto-container {
            background-color: white;
            margin-top: -1px;
            position: relative;
            z-index: 1;
            a:focus, a:hover {
                background-color: $primary-color-light;
            }
            span.match {
                font-weight: 400;
                text-decoration: underline;
            }
        }
    }
    @media (max-width: 991px) {
        .row > a:not(:first-child) {
            height: 35px;
            line-height: 50px;
        }
    }
}
.popover.bs-tether-element-attached-top {
    border-color: $primary-color;
    border-radius: 0;
    font: inherit;
    &::after {
        border-bottom-color: white;
    }
    &::before {
        border-bottom-color: $primary-color;
    }
}

/* FOOTER */
footer {
    bottom: 0;
    padding: 3px 0;
    position: absolute;
    width: 100%;
}

/* INDEX */
.panel-text {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;
    color: white;
    font-size: 24px;
    padding: 5px 5px;
    position: absolute;
}

/* ABOUT */
.about {
    line-height: 40px;
    p {
        margin-bottom: 0;
        text-indent: 40px;
        span {
            color: $primary-color;
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
}

/* CONTACT US */
.contact-us {
    line-height: 40px;
    a {
        font-weight: 100;
        font-size: 32px;
        &:hover {
            border-bottom: 1px solid #014c8c;
            text-decoration: none;
        }
    }
}

/* VIEW */
.view {
    div.description {
        font-size: 20px;
    }
    div.img-wrapper {
        border: 1px solid $primary-color;
        padding: 15px;
        margin-bottom: 15px;
        @media (max-width: 767px) {
            display: inline-block;
            > img {
                max-height: 250px;
            }
        }
    }
    img.open {
        height: 16px;
    }
    p.description {
        text-align: justify;
        text-indent: 40px;
    }
    .price {
        color: $price-color;
        font-size: 32px;
    }
    table {
        width: 100%;
        td {
            font-size: 20px;
        }
        td:nth-child(odd) {
            color: $primary-color;
        }
    }
    .ratings {
        span.color {
            border-left: 1px solid black;
            padding-left: 6px;
            margin-left: 2px;
        }
    }
}
div.add {
    position: relative;
    label, input, button {
        height: 50px;
    }
    label {
        line-height: 50px;
        margin-bottom: 0;
    }
    input {
        float: right;
        text-align: center;
        width: 50px;
    }
    button {
        margin-top: -1px;
        width: 100%;
    }
}

/* ALL-WINES */
.all-wines.container-fluid {
    max-width: 1140px;
}
.list-group-item {
    border-color: $primary-color;
    &:first-child, &:last-child {
        border-radius: 0;
    }
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white !important;
}
span.results {
    font-size: 30px;
    font-weight: 100;
    height: 50px;
    line-height: 50px;
    span {
        font-weight: 300;
    }
}
span.pages {
    line-height: 50px;
    a.page-num {
        border: 1px solid $primary-color;
        display: inline-block;
        height: 27px;
        line-height: 25px;
        margin-left: 5px;
        text-align: center;
        transition: 0.2s;
        width: 27px;
    }
    a.page-num:hover, a.page-num.selected {
        background-color: $primary-color;
        color: white;
    }
    .page-dots {
        margin-left: 5px;
    }
}
.all-wines.row {
    padding: 1px;
}
a.list-wine {
    $space-around: 7px;

    background-color: white;
    color: black;
    height: 152px;
    outline: 1px solid $primary-color;
    padding: $space-around;
    position: relative;
    transition: 0.2s;
    &:hover {
        transform: scale(1.05, 1.05);
        -webkit-transform: scale(1.05, 1.05);
        z-index: 1;
    }
    .list-pic {
        display: flex;
        height: 150px - 2 * $space-around;
        justify-content: center;
        overflow: hidden;
        padding: 0;
        img {
            height: 100%;
        }
    }
    .list-info {
        height: 150px - 2 * $space-around;
        line-height: normal;
        overflow: hidden;
        padding: 0 0 0 $space-around;
        position: static;
        .name {
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 5px;
        }
        .list-price {
            bottom: 5px;
            color: $price-color;
            font-size: 20px;
            position: absolute;
            right: $space-around;
        }
        .ratings {
            padding-top: 5px;
            span.color ~ span.color {
                border-left: 1px solid black;
                padding-left: 6px;
                margin-left: 2px;
            }
        }
    }
    .sold-out {
        color: red;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        margin-left: -$space-around;
        margin-top: -12px;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: rotate(-21deg);
        width: 100%;
    }
    .sold-out ~ div {
        opacity: 0.2;
    }
}

/* CART */
.container.cart {
    .row {
        line-height: 50px;
        button {
            height: 35px;
        }
        input.cart-quantity {
            height: 50px;
            text-align: center;
            width: 50px;
        }
        @media (min-width: 768px) {
            > div:not(.remove):not(:first-child) {
                padding-left: 5px;
            }
            > div:not(.remove) {
                padding-right: 5px;
            }
        }
    }
    .row.wine {
        > div.name {
            display: flex;
            flex-direction: column;
            height: 50px;
            justify-content: center;
            a {
                line-height: 20px;
            }
        }
        @media (max-width: 767px) {
            border-bottom: 1px solid $primary-color;
            padding-bottom: 15px;
            &:not(:first-child) {
                padding-top: 7.5px;
            }
            > div.remove {
                padding-left: 5px;
            }
        }
    }
}
form#order {
    .form-check {
        display: flex;
        flex-direction: column;
        height: 50px;
        justify-content: center;
    }
    button {
        height: 50px;
        width: 100%;
    }
}
#thanks-modal div.modal-content {
    padding: 15px;
    text-align: center;
    div {
        padding: 15px 0;
    }
}
