@import "bourbon/bourbon";

$price-color: rgb(6,142,6);
$primary-color: rgb(142,6,6);
$primary-color-light: rgba(142,6,6,0.2);

/* SITE WIDE */
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 100px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    @include appearance(none);
    margin: 0;
}
input.form-control, select.form-control, textarea.form-control {
    border: 1px solid $primary-color-light;
    border-radius: 0;
    font: inherit;
    @include transition(0.2s);
    &:hover, &:focus {
        border: 1px solid $primary-color;
    }
}
h1, h2, h3, h4, h5 {
    font-weight: 300;
}
a:focus {
    outline: 0;
}
a.black-link, a.black-link:hover {
    color: black;
}
.btn {
    background-color: white;
    border: 1px solid $primary-color;
    border-radius: 0;
    color: black;
    cursor: pointer;
    font-family: inherit;
    font-weight: 300;
    outline: none;
    @include transition(0.2s);
    &:hover {
        background-color: $primary-color;
        color: white;
    }
    &:focus {
        box-shadow: none;
    }
}
.color {
    color: $primary-color;
}
.list-group-item {
    border-color: $primary-color;
    display: block;
    &:first-child, &:last-child {
        border-radius: 0;
    }
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white !important;
}
.modal-content {
    border-radius: 0;
}
.modal-footer {
    border-top: 1px solid $primary-color-light;
}
.page-title {
    margin-bottom: 15px;
    margin-top: 20px;
}

/* NAVIGATION BAR */
nav.navbar {
    $height: 75px;

    border-bottom: 1px solid $primary-color;
    border-radius: 0;
    padding: 1rem;
    .row > a:not(:first-child) {
        color: black;
        font-size: 18px;
        height: $height;
        line-height: $height;
        &:focus, &:hover {
            color: $primary-color;
            font-weight: 400;
            text-decoration: none;
        }
    }
    form {
        height: $height;
        > input {
            height: 40px;
            margin-top: ($height - 40px) / 2;
        }
        @media (max-width: 575px) {
            height: initial;
            > input {
                margin-top: 15px;
            }
        }
        > #auto-container {
            background-color: white;
            margin-top: -1px;
            position: relative;
            z-index: 2;
            a:focus, a:hover {
                background-color: $primary-color-light;
            }
            span.field {
                color: $primary-color;
                font-weight: 400;
            }
            span.match {
                font-weight: 400;
                text-decoration: underline;
            }
        }
    }
    @media (max-width: 991px) {
        .row > a:not(:first-child) {
            height: 35px;
            line-height: 50px;
        }
    }
}
.popover.bs-tether-element-attached-top {
    border-color: $primary-color;
    border-radius: 0;
    font: inherit;
    &::after {
        border-bottom-color: white;
    }
    &::before {
        border-bottom-color: $primary-color;
    }
}

/* FOOTER */
footer {
    bottom: 0;
    padding: 3px 0;
    position: absolute;
    width: 100%;
}

/* INDEX */
a.panel {
    display: block;
    @media (max-width: 991px) {
        height: 150px;
        margin-bottom: 30px;
        overflow-y: hidden;
        > img {
            margin-top: -46%;
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 15px;
    }
    > img {
        @include transition(0.2s);
    }
    &:hover > img {
        @include filter(brightness(50%));
    }
    > div {
        background-color: rgba(0,0,0,0.5);
        border: 1px solid white;
        color: white;
        font-size: 20px;
        left: 50%;
        padding: 5px 10px;
        position: absolute;
        text-align: center;
        top: 50%;
        @include transform(translate(-50%, -50%));
        z-index: 1;
    }
}

/* ABOUT */
.about {
    line-height: 40px;
    p {
        margin-bottom: 0;
        text-indent: 40px;
        span {
            color: $primary-color;
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
}

/* CONTACT US */
.contact-us {
    line-height: 40px;
    a {
        font-weight: 100;
        font-size: 32px;
        &:hover {
            border-bottom: 1px solid #014c8c;
            text-decoration: none;
        }
    }
}

/* VIEW */
.view {
    div.description {
        font-size: 20px;
    }
    div.img-wrapper {
        border: 1px solid $primary-color;
        padding: 15px;
        margin-bottom: 15px;
        @media (max-width: 767px) {
            display: inline-block;
            > img {
                max-height: 250px;
            }
        }
    }
    img.open {
        height: 16px;
    }
    p.description {
        text-align: justify;
        text-indent: 40px;
    }
    .price {
        color: $price-color;
        font-size: 32px;
    }
    table {
        width: 100%;
        td {
            font-size: 20px;
        }
        td:nth-child(odd) {
            color: $primary-color;
        }
    }
    .ratings {
        span.color {
            border-left: 1px solid black;
            padding-left: 6px;
            margin-left: 2px;
        }
    }
}
div.add {
    position: relative;
    label, input, button {
        height: 50px;
    }
    label {
        line-height: 50px;
        margin-bottom: 0;
    }
    input {
        float: right;
        text-align: center;
        width: 50px;
    }
    button {
        margin-top: -1px;
        width: 100%;
    }
}
.sold-out {
    color: red;
    font-size: 24px;
    font-weight: 400;
    left: 50%;
    position: absolute;
    top: 50%;
    @include transform(translate(-50%, -50%)
                       rotate(-21deg));
    ~ div, ~ form {
        opacity: 0.2;
    }
}
.sold-out-blocker {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

/* ALL-WINES */
.all-wines.container-fluid {
    max-width: 1140px;
}
a.close-cross {
    $cross-size: 20px;

    height: $cross-size;
    opacity: 0.4;
    position: absolute;
    width: $cross-size;
    &:hover {
        opacity: 1;
    }
    &:after, &:before {
        position: absolute;
        left: ($cross-size - 2px) / 2;
        content: '';
        height: $cross-size;
        width: 2px;
        background-color: $primary-color;
    }
    &:after {
        @include transform(rotate(-45deg));
    }
    &:before {
        @include transform(rotate(45deg));
    }
    ~ .value {
        margin-left: 25px;
    }
}
a.key-collapse {
    color: black;
    @include display(flex);
    @include justify-content(space-between);
    &:focus, &:hover {
        color: $primary-color;
        text-decoration: none;
    }
    div.collapse-notch {
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        height: 15px;
        position: relative;
        right: 5px;
        top: 5px;
        @include transition(0.2s);
        width: 15px;
    }
    &.collapsed div.collapse-notch {
        @include transform(rotate(45deg));
    }
    &:hover, &.collapsed:hover, &:not(.collapsed) {
        div.collapse-notch {
            border-color: $primary-color;
            @include transform(rotate(-45deg));
        }
    }
}
div.pages-row {
    height: 50px;
}
div.options {
    margin-left: 25px;
    > a {
        display: block;
    }
}
h4.key {
    margin-bottom: 5px;
    margin-top: 10px;
    position: relative;
    @media (min-width: 768px) {
        &:first-child {
            margin-top: 50px;
        }
    }
    &:not(:first-child) {
        border-top: 1px solid $primary-color;
        padding-top: 10px;
    }
    &.empty {
        color: rgba(0,0,0,0.3);
    }
}
span.results {
    font-size: 30px;
    font-weight: 100;
    height: 50px;
    line-height: 50px;
    span {
        font-weight: 300;
    }
}
span.pages {
    line-height: 50px;
    a.btn {
        height: 27px;
        line-height: 25px;
        margin-left: 5px;
        padding: 0;
        width: 27px;
    }
    a.btn.selected {
        background-color: $primary-color;
        color: white;
        cursor: default;
    }
    .page-dots {
        margin-left: 5px;
    }
}
.all-wines.row {
    padding: 1px;
}
a.list-wine {
    $space-around: 7px;

    background-color: white;
    color: black;
    height: 152px;
    outline: 1px solid $primary-color;
    padding: $space-around;
    position: relative;
    @include transition(0.2s);
    &:focus, &:hover {
        text-decoration: none;
        @include transform(scale(1.05, 1.05));
        z-index: 1;
    }
    .list-pic {
        @include display(flex);
        height: 150px - 2 * $space-around;
        @include justify-content(center);
        overflow: hidden;
        padding: 0;
        img {
            height: 100%;
        }
    }
    .list-info {
        height: 150px - 2 * $space-around;
        line-height: normal;
        overflow: hidden;
        padding: 0 0 0 $space-around;
        position: static;
        .name {
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 5px;
        }
        .list-price {
            bottom: 5px;
            color: $price-color;
            font-size: 20px;
            line-height: 20px;
            position: absolute;
            right: $space-around;
        }
        .ratings {
            padding-top: 5px;
            span.color ~ span.color {
                border-left: 1px solid black;
                padding-left: 6px;
                margin-left: 2px;
            }
        }
    }
}

/* CART */
.container.cart {
    .row {
        line-height: 50px;
        button {
            height: 35px;
        }
        input.cart-quantity {
            height: 50px;
            text-align: center;
            width: 50px;
        }
        @media (min-width: 768px) {
            > div:not(.remove):not(:first-child) {
                padding-left: 5px;
            }
            > div:not(.remove) {
                padding-right: 5px;
            }
            input.cart-quantity {
                height: 51px;
                margin-bottom: -1px;
            }
        }
    }
    .row.wine {
        > div.name {
            @include display(flex);
            @include flex-direction(column);
            height: 50px;
            @include justify-content(center);
            a {
                line-height: 20px;
            }
        }
        @media (max-width: 767px) {
            border-bottom: 1px solid $primary-color;
            padding-bottom: 15px;
            &:not(:first-child) {
                padding-top: 7.5px;
            }
            > div.remove {
                padding-left: 5px;
                @media (max-width: 575px) {
                    button {
                        padding: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}
form#order {
    .form-check {
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        @media (min-width: 768px) {
            height: 50px;
        }
    }
    button {
        height: 50px;
        width: 100%;
    }
}
.has-danger {
    .form-control, .form-control:focus, .form-control:hover {
        border-color: red;
        box-shadow: none;
    }
    .form-control-label {
        color: red;
    }
}
#thanks-modal .modal-dialog {
    margin: 0 auto;
    top: 50%;
    @include transform(translateY(-50%));
    div.modal-content {
        padding: 15px;
        text-align: center;
        div {
            padding: 15px 0;
        }
    }
}
#loading-modal img {
    @include animation(spin 2s infinite linear);
    display: block;
    height: 100px;
    margin: -50px auto 0 auto;
    position: relative;
    top: 50%;
}
@include keyframes(spin) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}
